.uplodFiless{
    border: 1px dashed #d0d0d0;
    background: #4fd1c514 !important;
    border-radius: 8px;
    height: 64px !important;
    width: 100% !important;
    overflow: hidden;
}
.ProMultipleRequest{
    position: absolute;
    top: 5px;
    left: -15px;
    background: red;
    padding: 0 20px;
    transform: rotate(-44deg);
    color: #fff;
}